.header__menu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    width: 500px;
    height: 100%; 
    position: relative;
}
.header__menu-list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-transform: uppercase;
}


.header__menu-list li{
    border-right: 2px solid rgb(134, 134, 134);
    padding: 0 12px;
    transition: .2s;
}

.header__menu-elem a{
    color: #2d394c;
    text-decoration: none;
    transition: .2s;
}

.header__menu-elem a:hover{
    color: rgb(99, 99, 99);
    border-bottom: 2px solid rgb(17, 197, 113);
    /* padding-right: 5px; */
}

.header__menu-list li:hover{

    padding: 0 5px;
}

.menu__indicator{
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    transition: 0.5s;
}